<div class="contact">
    <div class="work-message">Let's work together</div>
    <div class="connect">Contact us on:</div>
    <div class="botton-icon">
      <a href="mailto:parthinteriors@gmail.com"
        ><img src="assets/icons/email.svg" width="72px" alt="Instagram Icon"
      /></a>
      <img (click)="openWhatsApp()" src="assets/icons/whatsapp-logo.svg" width="72px" alt="Instagram Icon" />
      <!-- <img src="assets/icons/facebook.svg" width="72px" alt="Facebook Icon" />
      <img src="assets/icons/twitterx.svg" width="72px" alt="Twitter Icon" /> -->
    </div>