<div class="side-bar glass-effect">
  <div class="icon-group">
    <div class="top-icon">
      <img (click)="navigateToHome()" src="assets/icons/web-logo.svg" width="50px" alt="Pi Icon" />
    </div>
    <div class="spacer"></div>
    <div class="bottom-icon">
      <a  href="mailto:parthinteriors@gmail.com"><img  src="assets/icons/email.svg" width="32px" alt="Instagram Icon" /></a>
      <img (click)="openWhatsApp()"  src="assets/icons/whatsapp-logo.svg" width="32px" alt="whatsapp-logo Icon" />
      <!-- <img src="assets/icons/facebook.svg" width="32px" alt="Facebook Icon" />
      <img src="assets/icons/twitterx.svg" width="32px" alt="Twitter Icon" /> -->
    </div>
   
  </div>
</div>
